.row
  .col-md-6
    #workout
      %h2= @workout.date.strftime("%A, %d %B %Y, %H:%M")
      %h3
        %span Part of body:
        = @workout.workout
        %br/
        %span Mood:
        = @workout.mood
        %br/
        %span Length:
        = @workout.length


      .text-center
        %br/
        %h3 Add an exercise
        %br/
        = render "exercises/form"

  .col-md-6
    #exercises
      %h2.text-center Exercises
      %table.table.table-condensed.borderless
        %thead
          %tr
            %th Name
            %th Sets
            %th Reps
        %tbody
          - @workout.exercises.each do |exercise|
            %tr
              %td= exercise.name
              %td= exercise.sets
              %td= exercise.reps

