= simple_form_for([@workout, @workout.exercises.build]) do |f|
  = f.input :name, input_html: { class: "form-control" }
  = f.input :sets, input_html: { class: "form-control" }
  = f.input :reps, input_html: { class: "form-control" }
  %br/
  = link_to "Edit", edit_workout_path(@workout), class: "btn btn-warning"
  = f.button :submit
  = link_to "Delete", workout_path(@workout), method: :delete, class: "btn btn-danger"
